<p id="notice"><%= notice %></p>

<div class="toggle-buttons">
	<h3>Click to toggle column:</h3>
	<ul class="column-selection active-columns">
		<% @drug_cols.each_with_index do |col, index| %>
		<li><a class="toggle-vis" id="<%= index %>" data-column="<%= index %>"><%= col %></a></li>
	<% end %>
	</ul>
</div>

<div class="bulk-search">
	<h4>Bulk Search:</h4>
	<div class="dt-buttons"><button class="dt-button buttons-html5" id="bulk-export">Export all</button></div>
</div>



<div class="table-container">
	<table id="drugs" class="table table-hover table-drugs text-center" data-source="<%= drugs_url(format: "json") %>">
  <thead>
		<tr class="col-filter">
			<% @drug_cols.each_with_index do |col, index| %>
				<th class="text-center"><%= col %></th>
			<% end %>
		</tr>
		<tr class="table-header-row">
			<% @drug_cols.each do |col| %>
				<th style="text-align: center"><%= col %></th>
			<% end %>
    </tr>
	</thead>
  

  <tbody>
  </tbody>
  
  
</table>
</div>

<ul class="smiles-image">
	
</ul>


<h2>Import Products</h2>

<%= form_tag import_drugs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<%= link_to 'New Drug', new_drug_path %>

<script>
	
</script>
