<p id="notice"><%= notice %></p>

<h1>Listing Pharmacologies</h1>

<div class="toggle-buttons">
	<h3>Click to toggle column:</h3>
	<ul class="column-selection active-columns">
		<% @pharma_cols.each_with_index do |col, index| %>
		<li><a class="show-toggle-vis" id="<%= index %>" data-column="<%= index %>"><%= col %></a></li>
	<% end %>
	</ul>
</div>

<table id="pharmacologies" class="table table-pharma table-hover text-center" data-source="<%= pharmacologies_url(format: "json") %>">
  <thead>
		<tr class="col-filter-pharma">
			<% @pharma_cols.each_with_index do |col, index| %>
				<th class="text-center"><%= col %></th>
			<% end %>
		</tr>
		<tr class="table-header-row">
			<% @pharma_cols.each do |col| %>
				<th style="text-align: center"><%= col %></th>
			<% end %>
    </tr>
	</thead>

  <tbody>
  </tbody>
</table>

<h2>Import Pharmacology</h2>

<%= form_tag import_pharmacologies_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<%= link_to 'New Pharmacology', new_pharmacology_path %>
